body {
    background-image: url(http://tmn.fhsu.edu/wp-content/uploads/2015/05/water2.jpg);
    backround-size:15%;
}

 nav a {
    color: hotpink;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 50px; 
}

h1 {
    border-style: groove;
    border-width: 7px;
    border-color: hotpink;
    padding: 10px;
}